<div class="card shadow-sm mb-4" (click)="selectedEvent()">
	<div
		class="card-header py-3 d-flex justify-content-between align-items-center"
	>
		<h5 class="m-0 fw-bold text-primary">
			{{ eventDto.title }}
		</h5>

		@if (eventDto.isOwner) {
			<span class="badge bg-secondary">
				{{ t("home.labelEventOwner") }}
			</span>
		} @else {
			@if (eventDto.response === "ATTENDING_ONLINE") {
				<span class="badge bg-success">
					{{ t("home.labelOnline") }}
				</span>
			} @else if (eventDto.response === "ATTENDING_OFFICE") {
				<span class="badge bg-success">
					{{ t("home.labelOffice") }}
				</span>
			} @else if (eventDto.response === "NOT_ATTENDING") {
				<span class="badge bg-danger">
					{{ t("home.labelReject") }}
				</span>
			} @else if (eventDto.response === "PENDING") {
				<span class="badge bg-warning text-dark">
					{{ t("home.labelPending") }}
				</span>
			}
		}
	</div>

	<div class="card-body">
		<app-datetimelabel [datevalue]="eventDto.date"></app-datetimelabel>

		<!-- <p class="mb-2 text-secondary">{{ card.description }}</p> -->
	</div>

	<div class="card-footer bg-transparent border-top-0">
		@if (eventDto.isOwner) {
			<!-- <button
				class="btn btn-sm btn-outline-secondary w-100"
				(click)="onAction($event, 'edit')"
			>
				<i class="bi bi-pencil"></i> {{ t("home.updateBtnLabel") }}
			</button> -->
			<app-generic-btn
				[borderColor]="'secondary'"
				[label]="t('home.updateBtnLabel')"
				[icon]="'pencil'"
				(action)="onAction($event, 'edit')"
			>
			</app-generic-btn>
		} @else {
			@if (eventDto.response === "PENDING") {
				<div class="d-grid gap-2">
					<button
						class="btn btn-sm btn-outline-primary"
						(click)="onAction($event, 'attend_online')"
					>
						<i class="bi bi-laptop"></i>
						{{ t("home.onlineBtnLabel") }}
					</button>
					<button
						class="btn btn-sm btn-outline-primary"
						(click)="onAction($event, 'attend_office')"
					>
						<i class="bi bi-building"></i>
						{{ t("home.officeBtnLabel") }}
					</button>
					<button
						class="btn btn-sm btn-outline-danger"
						(click)="onAction($event, 'decline')"
					>
						<i class="bi bi-x-circle"></i>
						{{ t("home.rejectBtnLabel") }}
					</button>
				</div>
			} @else if (
				eventDto.response === "ATTENDING_ONLINE" ||
				eventDto.response === "ATTENDING_OFFICE"
			) {
				<button
					class="btn btn-sm btn-outline-warning w-100"
					(click)="onAction($event, 'cancel_attendance')"
				>
					<i class="bi bi-arrow-counterclockwise"></i>
					{{ t("home.regretBtnLabel") }}
				</button>
			} @else if (eventDto.response === "NOT_ATTENDING") {
				<button
					class="btn btn-sm btn-outline-secondary w-100"
					(click)="onAction($event, 'undo_decline')"
				>
					<i class="bi bi-arrow-clockwise"></i>
					{{ t("home.regretRejectBtnLabel") }}
				</button>
			}
		}
	</div>
</div>
