<div
	class="card shadow-sm border-0 rounded-4 h-100 d-flex flex-column pb-3"
	tabindex="0"
	role="button"
	(click)="selectedEvent()"
	(keydown.enter)="selectedEvent()"
	(keydown.space)="selectedEvent()"
>
	<div
		class="card-header py-3 d-flex justify-content-between align-items-center bg-secondary"
	>
		<h5 class="m-0 fw-bold text-primary-emphasis">
			{{ eventDto()?.title }}
		</h5>
		<app-icon-button
			[title]="getNavigationTitle()"
			[icon]="'arrow-right'"
			[customClass]="'fs-3'"
			(action)="selectedEvent()"
		></app-icon-button>
	</div>

	@if (eventDto() !== null) {
		<div class="card-body">
			<app-datetimelabel
				[datevalue]="getDateFromStringValue(eventDto()!.date)"
			></app-datetimelabel>
			<app-status-label [eventDto]="eventDto()!"></app-status-label>
		</div>
	}

	<div class="card-footer bg-transparent border-top-0">
		@if (eventDto()?.responseType === "PENDING") {
			<div class="d-grid gap-2">
				<button
					class="btn btn-sm btn-outline-primary my-1"
					[disabled]="isPending()"
					(click)="onAction($event, 'ATTENDING_ONLINE')"
				>
					<i class="bi bi-laptop"></i>
					{{ t("events.onlineBtnLabel") }}
				</button>
				<button
					class="btn btn-sm btn-outline-primary my-1"
					[disabled]="isPending()"
					(click)="onAction($event, 'ATTENDING_OFFICE')"
				>
					<i class="bi bi-building"></i>
					{{ t("events.officeBtnLabel") }}
				</button>
				<button
					class="btn btn-sm btn-outline-danger my-1"
					[disabled]="isPending()"
					(click)="onAction($event, 'NOT_ATTENDING')"
				>
					<i class="bi bi-x-circle"></i>
					{{ t("events.rejectBtnLabel") }}
				</button>
			</div>
		} @else if (
			eventDto()?.responseType === "ATTENDING_ONLINE" ||
			eventDto()?.responseType === "ATTENDING_OFFICE"
		) {
			<button
				class="btn btn-sm btn-outline-warning w-100"
				[disabled]="isPending()"
				(click)="onAction($event, 'PENDING')"
			>
				<i class="bi bi-arrow-counterclockwise"></i>
				{{ t("events.regretBtnLabel") }}
			</button>
		} @else if (eventDto()?.responseType === "NOT_ATTENDING") {
			<button
				class="btn btn-sm btn-outline-secondary w-100"
				[disabled]="isPending()"
				(click)="onAction($event, 'PENDING')"
			>
				<i class="bi bi-arrow-clockwise"></i>
				{{ t("events.regretRejectBtnLabel") }}
			</button>
		}
	</div>
</div>
