<div class="d-flex gap-2">
	@if (eventDto.isOwner) {
		<span class="badge bg-secondary">
			{{ t("events.labelEventOwner") }}
		</span>
	}
	@if (eventDto.responseType === "ATTENDING_ONLINE") {
		<span class="badge bg-success">
			{{ t("events.labelOnline") }}
		</span>
	} @else if (eventDto.responseType === "ATTENDING_OFFICE") {
		<span class="badge bg-success">
			{{ t("events.labelOffice") }}
		</span>
	} @else if (eventDto.responseType === "NOT_ATTENDING") {
		<span class="badge bg-danger">
			{{ t("events.labelReject") }}
		</span>
	} @else if (eventDto.responseType === "PENDING") {
		<span class="badge bg-warning text-dark">
			{{ t("events.labelPending") }}
		</span>
	}
</div>
