<div class="container py-4">
	<app-responsive-form
		[formGroup]="eventForm"
		[submitHandler]="onSubmit"
		[withParentStyle]="'card shadow-sm mb-4 bg-white border-top-0'"
	>
		<div
			class="card-header py-3 d-flex justify-content-between align-items-center"
		>
			<h5 class="m-0 fw-bold text-primary">
				{{ selectedEventDto()!.title }}
			</h5>
			<!-- 		<app-status-label [eventDto]="selectedEventDto"></app-status-label> -->
		</div>
		<div class="card-body bg-white">
			@if (selectedEventDto() !== null) {
				<app-datetimelabel
					[datevalue]="selectedEventDto()!.date"
				></app-datetimelabel>
				<app-status-label
					[eventDto]="selectedEventDto()!"
				></app-status-label>
			}
			<p class="mb-2 text-secondary">
				{{ selectedEventDto()?.description }}
			</p>
			<label for="preference" class="form-label">Preferenser</label>
			<textarea
				id="preference"
				class="form-control"
				formControlName="preference"
				placeholder="Skriv dina preferenser"
			></textarea>
			<label for="allergy" class="form-label">Allergier</label>
			<textarea
				id="allergy"
				class="form-control"
				formControlName="allergy"
				placeholder="Skriv dina allergier"
			></textarea>
		</div>
		<div class="card-footer text-center">
			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="eventForm.invalid"
			>
				<i class="bi bi-check-circle"></i> Skapa Event
			</button>
		</div>
	</app-responsive-form>
</div>
