<div class="container mt-4">
	<app-responsive-form [formGroup]="eventForm" [submitHandler]="onSubmit">
		<div class="mb-3">
			<label for="eventName" class="form-label">Event Titel</label>
			<input
				id="eventName"
				type="text"
				class="form-control"
				formControlName="eventName"
				placeholder="Enter event name"
			/>
			<small
				*ngIf="
					eventForm.controls['eventName'].invalid &&
					eventForm.controls['eventName'].touched
				"
				class="text-danger"
			>
				Event Tittel måste vara minst 3 tecken.
			</small>
		</div>

		<div class="mb-3">
			<label for="description" class="form-label">Beskrivining</label>
			<textarea
				id="description"
				class="form-control"
				formControlName="description"
				placeholder="Enter event description"
			></textarea>
			<small
				*ngIf="
					eventForm.controls['description'].invalid &&
					eventForm.controls['description'].touched
				"
				class="text-danger"
			>
				Event beskrivning måste vara minst 3 tecken.
			</small>
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="eventDate" class="form-label"
					>Event Datum <i class="bi bi-calendar"></i
				></label>
				<ngb-datepicker
					#dp
					formControlName="eventDate"
				></ngb-datepicker>
			</div>

			<div class="col-md-6 mb-3">
				<label for="startTime" class="form-label"
					>Starttid <i class="bi bi-clock"></i
				></label>
				<ngb-timepicker
					#tp
					formControlName="startTime"
					[spinners]="false"
				></ngb-timepicker>
			</div>
		</div>

		<div class="mb-3">
			<label for="location" class="form-label">Plats</label>
			<input
				id="location"
				type="text"
				class="form-control"
				formControlName="location"
				placeholder="Enter location"
			/>
			<small
				*ngIf="
					eventForm.controls['location'].invalid &&
					eventForm.controls['location'].touched
				"
				class="text-danger"
			>
				Plats måste anges.
			</small>
		</div>

		<div class="text-center">
			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="eventForm.invalid"
			>
				<i class="bi bi-check-circle"></i> Skapa Event
			</button>
		</div>
	</app-responsive-form>
</div>
