<app-responsive-form
	[formGroup]="form"
	[withParentStyle]="
		'bg-white card shadow-sm d-flex justify-content-between mb-4'
	"
	[useResponsiveDesign]="true"
>
	<div>
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="p-4">
		<div class="flex-column justify-content-center w-100">
			<div class="mb-2">
				<h4 class="text-center text-black">{{ step }}. {{ title }}</h4>
			</div>
			<div class="container my-3">
				<label for="search" class="form-label">
					{{ t("event-create.userForm.searchUserLabel") }}
				</label>
				<div class="position-relative mb-3">
					<input
						id="search"
						class="form-control pe-5"
						type="text"
						[placeholder]="
							t('event-create.userForm.searchUserPlaceholder')
						"
						[ngModel]="query"
						(ngModelChange)="onSearchInputChange($event)"
					/>

					@if (query.length > 0) {
						<i
							class="bi bi-x-circle-fill position-absolute top-50 end-0 translate-middle-y me-3 text-muted"
							style="cursor: pointer"
							(click)="onSearchInputChange('')"
							title="Rensa sökning"
						></i>
					}
				</div>

				@if (filteredUsers.length > 0) {
					<ul class="list-group">
						@for (user of filteredUsers; track user.userId) {
							<li
								class="list-group-item d-flex justify-content-between align-items-center"
								(click)="toggleSelect(user)"
								[class.active]="isSelected(user)"
								style="cursor: pointer"
							>
								<i class="bi bi-person-add"></i>
								<div class="d-flex flex-column">
									<span>{{ user.email }}</span>
									<small class="text-muted">{{
										user.username
									}}</small>
								</div>
							</li>
						}
					</ul>
				}

				@if (
					query.length > 0 &&
					filteredUsers.length === 0 &&
					!isPending()
				) {
					<div class="alert alert-warning">
						{{ t("event-create.userForm.noUsersFoundInfo") }}
					</div>
				}

				@if (isPending()) {
					<div class="text-center my-3">
						<div class="spinner-border text-primary" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
				}

				@if (selectedEmails.length > 0) {
					<div class="mt-4">
						<h5>{{ t("event-create.userForm.selectedUsers") }}</h5>
						<ul class="list-group">
							@for (email of selectedEmails; track email) {
								<li
									class="list-group-item d-flex justify-content-between align-items-center"
								>
									<i class="bi bi-person-check"></i>
									{{ email }}
								</li>
							}
						</ul>
					</div>
				}
			</div>
		</div>
	</div>
	<div>
		<ng-content select="[footer]"></ng-content>
	</div>
</app-responsive-form>
