@import "./theme-light.css";
@import "./theme-dark.css";

::ng-deep .popover-sm {
	font-size: 1rem;
	font-weight: bolder;
	background-color: var(--bs-light);
	border: 3px solid var(--bs-primary);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.55);
}

::ng-deep .popover-sm .popover-body {
	z-index: 1560 !important; /*TODO! This class do NOT solve minor hidden issue*/
}

.nav-link:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.25rem var(--app-focus-visible);
	border-radius: 0.375rem;
}

.btn-link {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-link-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: var(--bs-link-hover-color);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: var(--bs-link-hover-color);
	--bs-btn-active-border-color: transparent;
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-box-shadow: 0 0 0 #000;
	--bs-btn-focus-shadow-rgb: var(--bs-info-rgb);
	text-decoration: underline;
}

.form-select:focus,
.form-control:focus {
	border-color: var(--bs-secondary);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(1, 66, 28, 0.25);
}

.accordion-button:not(.collapsed) {
	background-color: var(--bs-secondary);
}

.accordion-button:focus {
	z-index: 3;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(1, 66, 28, 0.25);
}

body {
	font-family: sans-serif;
	background-color: var(--bs-light-rgb);
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--app-btn-primary);
	--bs-btn-border-color: var(--app-btn-primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--app-btn-primary-hover);
	--bs-btn-hover-border-color: var(--app-btn-primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--app-btn-primary-active);
	--bs-btn-active-border-color: var(--app-btn-primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--app-btn-primary);
	--bs-btn-disabled-border-color: var(--app-btn-primary);
}

.btn-outline-danger {
	--bs-btn-color: var(--app-btn-outline-danger);
	--bs-btn-border-color: var(--app-btn-outline-danger);
	--bs-btn-hover-color: var(--app-btn-outline-color-hover);
	--bs-btn-hover-bg: var(--app-btn-outline-danger);
	--bs-btn-hover-border-color: var(--app-btn-outline-danger);
	--bs-btn-focus-shadow-rgb: var(--app-btn-outline-danger-rgb);
	--bs-btn-active-color: var(--app-btn-outline-color-active);
	--bs-btn-active-bg: var(--app-btn-outline-danger);
	--bs-btn-active-border-color: var(--app-btn-outline-danger);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--app-btn-outline-danger);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--app-btn-outline-danger);
	--bs-gradient: none;
}

.btn-outline-primary {
	--bs-btn-color: var(--app-btn-outline-primary);
	--bs-btn-border-color: var(--app-btn-outline-primary);
	--bs-btn-hover-color: var(--app-btn-outline-color-hover);
	--bs-btn-hover-bg: var(--app-btn-outline-primary);
	--bs-btn-hover-border-color: var(--app-btn-outline-primary);
	--bs-btn-focus-shadow-rgb: var(--app-btn-outline-primary-rgb);
	--bs-btn-active-color: var(--app-btn-outline-color-active);
	--bs-btn-active-bg: var(--app-btn-outline-primary);
	--bs-btn-active-border-color: var(--app-btn-outline-primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--app-btn-outline-primary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--app-btn-outline-primary);
	--bs-gradient: none;
}

.btn-outline-secondary {
	--bs-btn-color: var(--app-btn-outline-secondary);
	--bs-btn-border-color: var(--app-btn-outline-secondary);
	--bs-btn-hover-color: var(--app-btn-outline-color-hover);
	--bs-btn-hover-bg: var(--app-btn-outline-secondary);
	--bs-btn-hover-border-color: var(--app-btn-outline-secondary);
	--bs-btn-focus-shadow-rgb: var(--app-btn-outline-secondary-rgb);
	--bs-btn-active-color: var(--app-btn-outline-color-active);
	--bs-btn-active-bg: var(--app-btn-outline-secondary);
	--bs-btn-active-border-color: var(--app-btn-outline-secondary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--app-btn-outline-secondary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--app-btn-outline-secondary);
	--bs-gradient: none;
}

.btn-outline-warning {
	--bs-btn-color: var(--app-btn-outline-warning);
	--bs-btn-border-color: var(--app-btn-outline-warning);
	--bs-btn-hover-color: var(--app-btn-outline-color-hover);
	--bs-btn-hover-bg: var(--app-btn-outline-warning);
	--bs-btn-hover-border-color: var(--app-btn-outline-warning);
	--bs-btn-focus-shadow-rgb: var(--app-btn-outline-warning-rgb);
	--bs-btn-active-color: var(--app-btn-outline-color-active);
	--bs-btn-active-bg: var(--app-btn-outline-warning);
	--bs-btn-active-border-color: var(--app-btn-outline-warning);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--app-btn-outline-warning);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--app-btn-outline-warning);
	--bs-gradient: none;
}
