@if (event === null) {
	<div class="border border-5 border-danger p-3 bg-white">
		<div class="modal-header">
			<h4 class="text-danger">
                {{ t('event-management.noEventForDeletion') }}
            </h4>
			<button
				type="button"
				class="btn-close"
				aria-label="Close"
				(click)="activeModal.dismiss('Cross click')"
			></button>
		</div>
	</div>
} @else {
	<div class="border border-5 border-info p-3 bg-white">
		<div class="modal-header">
			<h4 class="text-danger">
                {{ t('event-management.deleteEventPrompt') }}
            </h4>
			<button
				type="button"
				class="btn-close"
				aria-label="Close"
				(click)="activeModal.dismiss('Cross click')"
			></button>
		</div>
		<div class="modal-body">
			<p>Titel: {{ event.title }}</p>
			<p>Description: {{ event.description }}</p>
			<p>Date: {{ event.date }}</p>
		</div>
		<div class="modal-footer d-flex justify-content-between">
			<app-generic-btn
				[label]="t('event-management.deleteEventButton')"
				[icon]="'x-circle-fill'"
				[borderColor]="'danger'"
				(click)="callDeleteMethod()"
			></app-generic-btn>
			<app-generic-btn
            [label]="t('event-management.abortDeleteButton')"
				[icon]="'x-lg'"
				[borderColor]="'secondary'"
				(click)="activeModal.dismiss('Cancel click')"
			></app-generic-btn>
		</div>
	</div>
}
