<app-responsive-form
	[formGroup]="form"
	[withParentStyle]="
		'bg-white card shadow-sm d-flex justify-content-between mb-4'
	"
	[useResponsiveDesign]="true"
>
	<div>
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="p-4">
		<div class="mb-2">
			<h4 class="text-center text-black">{{ step }}. {{ title }}</h4>
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">{{
				t("event-create.detailsForm.nameLabel")
			}}</label>
			<input
				id="title"
				type="text"
				class="form-control"
				formControlName="title"
				placeholder="Ange event namn..."
				[ngClass]="getControlClass('title')"
			/>
			@if (hasError("title", formValidationKeys.required)) {
				<div class="invalid-feedback">
					{{ t("event-create.detailsForm.nameWarningMessage") }}
				</div>
			}
		</div>

		<div class="mb-3">
			<label for="description" class="form-label">{{
				t("event-create.detailsForm.descriptionLabel")
			}}</label>
			<textarea
				id="description"
				class="form-control"
				formControlName="description"
				placeholder="Ange event beskrivning..."
				[ngClass]="getControlClass('description')"
			></textarea>
			@if (hasError("description", formValidationKeys.required)) {
				<div class="invalid-feedback">
					{{
						t("event-create.detailsForm.descriptionWarningMessage")
					}}
				</div>
			}
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="date" class="form-label"
					>{{ t("event-create.detailsForm.dateLabel") }}
					<i class="bi bi-calendar"></i
				></label>
				<div
					class="datepicker-wrapper"
					[ngClass]="getControlClass('date', false)"
				>
					<ngb-datepicker formControlName="date"></ngb-datepicker>
				</div>
				@if (hasError("date", formValidationKeys.invalidDate)) {
					<div class="invalid-feedback d-block">
						{{
							t(
								"event-create.detailsForm.descriptionWarningMessage"
							)
						}}
					</div>
				}
			</div>

			<div class="col-md-6 mb-3">
				<label for="time" class="form-label"
					>{{ t("event-create.detailsForm.timeLabel") }}
					<i class="bi bi-clock"></i
				></label>
				<div
					class="timepicker-wrapper"
					[ngClass]="getControlClass('time', false)"
				>
					<ngb-timepicker
						formControlName="time"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (hasError("time", formValidationKeys.invalidTime)) {
					<div class="invalid-feedback d-block">
						{{ t("event-create.detailsForm.timeWarningMessage") }}
					</div>
				}
			</div>

			<div class="col-md-6 mb-3">
				<label for="end-time" class="form-label"
					>{{ t("event-create.detailsForm.endTimeLabel") }}
					<i class="bi bi-clock"></i
				></label>
				<div
					class="timepicker-wrapper"
					[ngClass]="getControlClass('endTime', false)"
				>
					<ngb-timepicker
						formControlName="endTime"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (
					hasGroupError(formValidationGroupKeys.eventEndBeforeStart)
				) {
					<div class="invalid-feedback d-block">
						{{
							t("event-create.detailsForm.endTimeWarningMessage")
						}}
					</div>
				}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="date-deadline" class="form-label"
					>{{ t("event-create.detailsForm.dateLabelDeadline") }}
					<i class="bi bi-calendar"></i
				></label>
				<div
					class="datepicker-wrapper"
					[ngClass]="getControlClass('dateDeadline', false)"
				>
					<ngb-datepicker
						formControlName="dateDeadline"
					></ngb-datepicker>
				</div>
				@if (
					hasError(
						"dateDeadline",
						formValidationKeys.invalidDateDeadline
					) ||
					hasGroupError(formValidationGroupKeys.deadlineAfterEvent)
				) {
					<div class="invalid-feedback d-block">
						{{
							t(
								"event-create.detailsForm.dateDeadlineWarningMessage"
							)
						}}
					</div>
				}
			</div>

			<div class="col-md-6 mb-3">
				<label for="time-deadline" class="form-label"
					>{{ t("event-create.detailsForm.timeLabelDeadline") }}
					<i class="bi bi-clock"></i
				></label>
				<div
					class="timepicker-wrapper"
					[ngClass]="getControlClass('timeDeadline', false)"
				>
					<ngb-timepicker
						formControlName="timeDeadline"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (
					hasError(
						"timeDeadline",
						formValidationKeys.invalidTimeDeadline
					) || hasGroupError("deadlineAfterEvent")
				) {
					<div class="invalid-feedback d-block">
						{{
							t(
								"event-create.detailsForm.timeDeadlineWarningMessage"
							)
						}}
					</div>
				}
			</div>
		</div>
	</div>
	<div>
		<ng-content select="[footer]"></ng-content>
	</div>
</app-responsive-form>
