<app-responsive-form
	[formGroup]="form()"
	[withParentStyle]="
		'bg-white card shadow-sm d-flex justify-content-between mb-4'
	"
	[useResponsiveDesign]="true"
>
	<div>
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="p-4">
		<div class="m-3">
			<h4 class="text-center text-black">{{ derivedTitle() }}</h4>
		</div>
		<div class="mb-3">
			<app-required-label
				[for]="'title'"
				[label]="t('event-create.detailsForm.nameLabel')"
			>
			</app-required-label>
			<input
				id="title"
				type="text"
				class="form-control"
				[placeholder]="t('event-create.detailsForm.namePlaceholder')"
				[formControlName]="eventDetailsControllerNames.title"
				[ngClass]="getControlClass(eventDetailsControllerNames.title)"
			/>
			@if (
				hasError(
					eventDetailsControllerNames.title,
					formValidationKeys.required
				)
			) {
				<div class="invalid-feedback">
					{{ t("event-create.detailsForm.nameWarningMessage") }}
				</div>
			}
		</div>

		<div class="mb-3">
			<app-required-label
				[for]="'description'"
				[label]="t('event-create.detailsForm.descriptionLabel')"
			>
			</app-required-label>
			<textarea
				id="description"
				class="form-control"
				[placeholder]="
					t('event-create.detailsForm.descriptionPlaceholder')
				"
				[formControlName]="eventDetailsControllerNames.description"
				[ngClass]="
					getControlClass(eventDetailsControllerNames.description)
				"
			></textarea>
			@if (
				hasError(
					eventDetailsControllerNames.description,
					formValidationKeys.required
				)
			) {
				<div class="invalid-feedback">
					{{
						t("event-create.detailsForm.descriptionWarningMessage")
					}}
				</div>
			}
		</div>

		<div class="my-5">
			<h4 class="text-black">
				{{ t("event-create.detailsForm.subtitleDate") }}
			</h4>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 mb-3">
				<app-required-label
					[for]="'date'"
					[label]="t('event-create.detailsForm.dateLabel')"
					[withClass]="'m-2'"
				>
					<i class="bi bi-calendar"></i>
				</app-required-label>

				<div
					class="datepicker-wrapper"
					[ngClass]="
						getControlClass(eventDetailsControllerNames.date, false)
					"
				>
					<ngb-datepicker
						[formControlName]="eventDetailsControllerNames.date"
					></ngb-datepicker>
				</div>

				@if (
					hasError(
						eventDetailsControllerNames.date,
						formValidationKeys.invalidDate
					)
				) {
					<div class="invalid-feedback d-block text-center">
						{{ t("event-create.detailsForm.dateWarningMessage") }}
					</div>
				}

				@if (
					hasError(
						eventDetailsControllerNames.date,
						formValidationKeys.invalidDateFutureDate
					)
				) {
					<div class="invalid-feedback d-block text-center">
						{{
							t(
								"event-create.detailsForm.dateFutureDateWarningMessage"
							)
						}}
					</div>
				}
			</div>

			<div class="col-md-6 mb-3">
				<app-required-label
					[for]="'date-deadline'"
					[label]="t('event-create.detailsForm.dateLabelDeadline')"
					[withClass]="'m-2'"
				>
					<i class="bi bi-calendar"></i>
				</app-required-label>

				<div
					class="datepicker-wrapper"
					[ngClass]="
						getControlClass(
							eventDetailsControllerNames.dateDeadline,
							false
						)
					"
				>
					<ngb-datepicker
						[formControlName]="
							eventDetailsControllerNames.dateDeadline
						"
					></ngb-datepicker>
				</div>

				@if (
					hasError(
						eventDetailsControllerNames.dateDeadline,
						formValidationKeys.invalidDateDeadline
					) ||
					hasGroupError(formValidationGroupKeys.deadlineAfterEvent)
				) {
					<div class="invalid-feedback d-block text-center">
						{{
							t(
								"event-create.detailsForm.dateDeadlineWarningMessage"
							)
						}}
					</div>
				}
			</div>
		</div>

		<div class="my-5">
			<h4 class="text-black">
				{{ t("event-create.detailsForm.subtitleTime") }}
			</h4>
		</div>
		<div class="row">
			<div class="col-md-4 mb-3">
				<app-required-label
					[for]="'time'"
					[label]="t('event-create.detailsForm.timeLabel')"
					[withClass]="'m-2'"
				>
					<i class="bi bi-clock"></i
				></app-required-label>
				<div
					class="timepicker-wrapper"
					[ngClass]="
						getControlClass(eventDetailsControllerNames.time, false)
					"
				>
					<ngb-timepicker
						[formControlName]="eventDetailsControllerNames.time"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (
					hasError(
						eventDetailsControllerNames.time,
						formValidationKeys.invalidTime
					)
				) {
					<div class="invalid-feedback d-block">
						{{ t("event-create.detailsForm.timeWarningMessage") }}
					</div>
				}
			</div>

			<div class="col-md-4 mb-3">
				<label for="end-time" class="form-label"
					>{{ t("event-create.detailsForm.endTimeLabel") }}
					<i class="bi bi-clock"></i
				></label>
				<div
					class="timepicker-wrapper"
					[ngClass]="
						getControlClass(
							eventDetailsControllerNames.endTime,
							false
						)
					"
				>
					<ngb-timepicker
						[formControlName]="eventDetailsControllerNames.endTime"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (
					hasGroupError(formValidationGroupKeys.eventEndBeforeStart)
				) {
					<div class="invalid-feedback d-block">
						{{
							t("event-create.detailsForm.endTimeWarningMessage")
						}}
					</div>
				}
			</div>

			<div class="col-md-4 mb-3">
				<app-required-label
					[for]="'time-deadline'"
					[label]="t('event-create.detailsForm.timeLabelDeadline')"
					[withClass]="'m-2'"
				>
					<i class="bi bi-clock"></i
				></app-required-label>
				<div
					class="timepicker-wrapper"
					[ngClass]="
						getControlClass(
							eventDetailsControllerNames.timeDeadline,
							false
						)
					"
				>
					<ngb-timepicker
						[formControlName]="
							eventDetailsControllerNames.timeDeadline
						"
						[spinners]="false"
					></ngb-timepicker>
				</div>
				@if (
					hasError(
						eventDetailsControllerNames.timeDeadline,
						formValidationKeys.invalidTimeDeadline
					) ||
					hasGroupError(formValidationGroupKeys.deadlineAfterEvent)
				) {
					<div class="invalid-feedback d-block">
						{{
							t(
								"event-create.detailsForm.timeDeadlineWarningMessage"
							)
						}}
					</div>
				}
			</div>
		</div>
	</div>
	<div>
		<ng-content select="[footer]"></ng-content>
	</div>
</app-responsive-form>
