<div class="mx-auto" [ngStyle]="getDerivedContainerStyle()">
	<div class="m-sm-4">
		@switch (currentStep) {
			@case (formSteps.formDetailStep) {
				<app-event-details-form
					[title]="formTitles.eventDetailTitle"
					[step]="currentStep"
					[form]="eventDetailsFormGroup"
				>
					<app-create-event-header-container header>
						<app-multistep-form-navigation-header
							[step]="currentStep"
							[steps]="getSubFormTitles()"
						></app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-right'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnNext')"
							[customClass]="'mt-3'"
							(action)="nextStep()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-event-details-form>
			}
			@case (formSteps.formUserStep) {
				<app-event-user-form
					[title]="formTitles.addUserTitle"
					[step]="currentStep"
					[selectedUsers]="form.value.inviteUsersForm?.users ?? []"
					[form]="inviteUsersForm"
					(selectedUsersChange)="onSelectedUsersChange($event)"
				>
					<app-create-event-header-container header>
						<app-multistep-form-navigation-header
							[steps]="getSubFormTitles()"
							[step]="currentStep"
						>
						</app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-left'"
							[borderColor]="'secondary'"
							[label]="t('event-create.btnPrev')"
							[customClass]="'mt-3'"
							(action)="prevStep()"
						>
						</app-generic-btn>
						<app-generic-btn
							[icon]="'arrow-right'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnNext')"
							[customClass]="'mt-3'"
							(action)="nextStep()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-event-user-form>
			}
			@case (formSteps.formVerifyStep) {
				<app-verify-event-form
					[title]="formTitles.formVerificationTitle"
					[step]="currentStep"
					[form]="form"
				>
					<app-create-event-header-container header>
						<app-multistep-form-navigation-header
							[steps]="getSubFormTitles()"
							[step]="currentStep"
						>
						</app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-left'"
							[borderColor]="'secondary'"
							[label]="t('event-create.btnPrev')"
							[customClass]="'mt-3'"
							(action)="prevStep()"
						>
						</app-generic-btn>
						<app-generic-btn
							[icon]="'check2-circle'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnOk')"
							[customClass]="'mt-3'"
							(action)="submit()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-verify-event-form>
			}
			@default {
				<p></p>
			}
		}
	</div>
</div>
