<div class="border border-danger p-3">
	<div class="modal-header">
		<div class="w-100 d-flex justify-content-between align-items-center">
			<h5 class="modal-title">{{ title }}</h5>
			<app-button-wrapper (selected)="close()">
				<i class="bi bi-x-lg fs-3 text-primary-emphasis"></i>
			</app-button-wrapper>
		</div>
	</div>
	<div class="modal-body">
		<p class="text-primary-emphasis">{{ message }}</p>
	</div>
	<div class="modal-footer d-flex justify-content-center">
		<app-generic-btn
			[label]="closeBtnLabel"
			[icon]="'check-circle'"
			[borderColor]="'danger'"
			(click)="activeModal.close('Close click')"
		></app-generic-btn>
	</div>
</div>
