<app-responsive-form
	[formGroup]="form"
	[withParentStyle]="
		'bg-white card shadow-sm d-flex justify-content-between mb-4'
	"
	[useResponsiveDesign]="true"
>
	<div>
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="d-flex flex-column gap-4 p-4">
		<div class="flex-column justify-content-center w-100">
			<div class="mb-2">
				<h4 class="text-center text-black">{{ step }}. {{ title }}</h4>
			</div>
		</div>
		<div>
			<h5>
				{{
					t2("event-create.verifyForm.stepOneTitle", {
						title: formTitles.eventDetailTitle,
					})
				}}
			</h5>
			<ul class="list-group mb-4">
				<li class="list-group-item">
					<strong>{{
						t("event-create.verifyForm.itemTitle")
					}}</strong>
					{{ form.value.eventDetailsForm?.title }}
				</li>
				<li class="list-group-item">
					<strong>{{
						t("event-create.verifyForm.itemDescription")
					}}</strong>
					{{ form.value.eventDetailsForm?.description }}
				</li>
				<li class="list-group-item">
					<strong>{{ t("event-create.verifyForm.itemDate") }}</strong>
					{{ form.value.eventDetailsForm?.date?.day }}/{{
						form.value.eventDetailsForm?.date?.month
					}}
					{{ form.value.eventDetailsForm?.date?.year }}
				</li>
				<li class="list-group-item">
					<strong>{{ t("event-create.verifyForm.itemTime") }}</strong>
					{{ form.value.eventDetailsForm?.time?.hour }}:{{
						form.value.eventDetailsForm?.time?.minute
					}}
				</li>
			</ul>
		</div>

		<div>
			<h5>
				{{
					t2("event-create.verifyForm.stepTwoTitle", {
						title: formTitles.addUserTitle,
					})
				}}
			</h5>
			<ul class="list-group">
				@for (
					email of form.value.inviteUsersForm?.emails;
					track email
				) {
					<li class="list-group-item">{{ email }}</li>
				}
			</ul>
		</div>
	</div>
	<div>
		<ng-content select="[footer]"></ng-content>
	</div>
</app-responsive-form>
