.custom-list-bullets li {
	position: relative;
	padding-left: 1rem;
}

.custom-list-bullets li::before {
	content: "•";
	position: absolute;
	top: 0;
	left: 0;
	color: var(--bs-primary);
	font-size: 1.4rem;
	line-height: 1;
}
