<div class="border border-info p-3">
	<div class="modal-header">
		<div class="w-100 d-flex justify-content-between align-items-center">
			<p class="m-0">{{ t("logout.logoutQuestion") }}</p>
			<app-button-wrapper (selected)="closeByDismiss()">
				<i class="bi bi-x-lg fs-3 text-primary-emphasis"></i>
			</app-button-wrapper>
		</div>
	</div>
	<div class="modal-body d-flex flex-row justify-content-center gap-2">
		<app-generic-btn
			[label]="t('logout.closeLogoutBtn')"
			[icon]="'none'"
			[borderColor]="'secondary'"
			(click)="closeByCancel()"
		></app-generic-btn>
		<app-generic-btn
			[label]="t('logout.logoutBtn')"
			[icon]="'box-arrow-right'"
			[borderColor]="'info'"
			(click)="logout()"
		></app-generic-btn>
	</div>
</div>
