<div class="mx-auto" [ngStyle]="getContainerStyle()">
	<div class="m-sm-4">
		@switch (currentStep) {
			@case (formSteps.formDetailStep) {
				<app-event-details-form
					[title]="formTitles.eventDetailTitle"
					[step]="currentStep"
					[form]="eventDetailsFormGroup"
				>
					<app-create-event-header-container header>
						@if (initialEventId() !== null) {
							<div
								class="px-5 pt-2 pb-4 d-flex justify-content-between align-items-center"
							>
								<h5 class="m-0 fw-bold text-primary">
									{{ initialEvent()?.title }}
								</h5>
								<app-generic-btn
									[icon]="'stop-circle'"
									[label]="'Stop Editing'"
									[customClass]="'border-0 fs-5'"
									[borderColor]="'danger'"
									(action)="toggleEdit()"
								>
								</app-generic-btn>
							</div>
						}
						<app-multistep-form-navigation-header
							[step]="currentStep"
							[steps]="getSubFormTitles()"
						></app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-right'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnNext')"
							[customClass]="'mt-3'"
							(action)="nextStep()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-event-details-form>
			}
			@case (formSteps.formUserStep) {
				<app-event-user-form
					[title]="formTitles.addUserTitle"
					[step]="currentStep"
					[selectedUsers]="getDerivedUsers()"
					[form]="inviteUsersForm"
					(selectedUsersChange)="onSelectedUsersChange($event)"
				>
					<app-create-event-header-container header>
						<app-multistep-form-navigation-header
							[steps]="getSubFormTitles()"
							[step]="currentStep"
						>
						</app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-left'"
							[borderColor]="'secondary'"
							[label]="t('event-create.btnPrev')"
							[customClass]="'mt-3'"
							(action)="prevStep()"
						>
						</app-generic-btn>
						<app-generic-btn
							[icon]="'arrow-right'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnNext')"
							[customClass]="'mt-3'"
							(action)="nextStep()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-event-user-form>
			}
			@case (formSteps.formVerifyStep) {
				<app-verify-event-form
					[title]="formTitles.formVerificationTitle"
					[step]="currentStep"
					[form]="safeForm()"
				>
					<app-create-event-header-container header>
						<app-multistep-form-navigation-header
							[steps]="getSubFormTitles()"
							[step]="currentStep"
						>
						</app-multistep-form-navigation-header>
					</app-create-event-header-container>
					<app-create-event-footer-container footer>
						<app-generic-btn
							[icon]="'arrow-left'"
							[borderColor]="'secondary'"
							[label]="t('event-create.btnPrev')"
							[customClass]="'mt-3'"
							(action)="prevStep()"
						>
						</app-generic-btn>
						<app-generic-btn
							[icon]="'check2-circle'"
							[iconRight]="true"
							[borderColor]="'primary'"
							[label]="t('event-create.btnOk')"
							[customClass]="'mt-3'"
							(action)="submit()"
						>
						</app-generic-btn>
					</app-create-event-footer-container>
				</app-verify-event-form>
			}
			@default {
				<p></p>
			}
		}
	</div>
</div>
