<div
	class="d-flex flex-column align-items-center justify-content-center mb-5 px-4"
>
	<div
		class="d-flex align-items-center justify-content-center position-relative w-100 px-4"
	>
		@for (stepTitle of steps; track stepTitle; let i = $index) {
			@if (i > 0) {
				<div
					[ngClass]="getStepClassLines(step, i)"
					style="height: 2px"
				></div>
			}
			<div class="position-relative text-center">
				<div
					class="rounded-circle mx-auto d-flex align-items-center justify-content-center"
					[ngClass]="getStepClassCircles(step, i)"
					style="width: 28px; height: 28px; font-size: 1.1rem"
				>
					{{ i + 1 }}
				</div>
				<div
					class="position-absolute start-50 translate-middle-x text-nowrap"
					style="top: 36px; font-size: 0.8rem"
				>
					{{ steps[i] }}
				</div>
			</div>
		}
	</div>
</div>
